<section id="feature-products" class="feature-products section-p1">
    <h2>Productos destacados</h2>
    <p>Para momentos memorables</p>
    <div class="product-container">
        <% features.forEach(product=> { %>
        <div class="product" onclick="window.location.href='/product/<%= product.id %>'">
          <img src="<%= product.smImage %>" alt="<%= product.title %>">
          <div class="description">
            <h5><%= product.title %></h5>
            <h4><%= product.formattedPrice %></h4>
          </div>
          <a href="/product/<%= product.id %>"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
        </div>
        <% }) %>
    </div>
</section>