<section class="page-header boys-header">
  <h2>Boys</h2>

</section>

<section class="feature-products section-p1">
  <p>Colección Once Once - Sueños de Niñez. Para momentos memorables</p>
  <div class="product-container">
    <% products.forEach(product=> { %>
    <div class="product" onclick="window.location.href='/product/<%= product.id %>'">
      <img src="<%= product.image1 %>" alt="<%= product.title %>">
      <div class="description">
        <span>Once Once</span>
        <h5><%= product.title %></h5>
        <h4><%= product.price %></h4>
      </div>
      <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
    </div>
    <% }) %>
    <% products.forEach(product=> { %>
      <div class="product" onclick="window.location.href='/product/<%= product.id %>'">
        <img src="<%= product.image1 %>" alt="<%= product.title %>">
        <div class="description">
          <span>Once Once</span>
          <h5><%= product.title %></h5>
          <h4><%= product.price %></h4>
        </div>
        <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
      </div>
      <% }) %>
  </div>
</section>
