<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="<%- title %> - Once Once Ropa para Bebés" />
    <meta property="og:description" content="¡Viste a tu hijo como se merece! Cómodo, fresco y elegante. Descubre nuestra amplia variedad de ropa para niños y niñas en Once Once.">
    <meta property="og:image" content="https://www.onceonceropaparabebes.com/img/logo/logo-open-graph.jpg" />
    <meta property="og:url" content="https://www.onceonceropaparabebes.com/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="description" content="¡Viste a tu hijo como se merece! Cómodo, fresco y elegante">
    <meta name="keywords" content="ropa, once once, niños, niñas, moda, pajecitos, camisas, vestidos, valledupar">
    <title><%- title %></title>
    <script async src="/contacto/maps/api/js"></script>
    <link rel="icon" href="/img/logo/favicon-once-once.jpg">
    <link rel="stylesheet" href="/css/mainSass.css">
    <!-- SDK MercadoPago.js -->
    <script src="https://sdk.mercadopago.com/js/v2"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body>

    <!-- <%- include('components/top-header'); -%> -->
    <%- include('components/header'); -%>

        <main class="main">
            <%- body %>
        </main>

        <a href="https://api.whatsapp.com/send?phone=573043761576&amp;text=Hola, estuve visitando su sitio Web y quisiera obtener más información sobre Once Once, sus productos y servicios."
            target="_blank" class="float">
            <img class="float" src="/img/whatsapp.png" alt="WhatsApp">
        </a>
        <%- include('components/footer'); -%>

</body>

</html>