<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="¡Viste a tu hijo como se merece! Cómodo, fresco y elegante">
    <meta name="keywords"
        content="ropa, once once, niños, niñas, moda, pajecitos, camisas, vestidos, valledupar">
    <title><%- title %></title>
    <link rel="icon" href="./img/logo/favicon-once-once.jpg">
    <link rel="stylesheet" href="./css/mainSass.css">

    <!-- <script async defer type="module" src="./once-once/script.js"></script> -->
</head>

<body>

    <%- include('components/top-header'); -%>
    <%- include('components/header'); -%>

    <main class="main">
        <%- body %>
    </main>

    <a href="https://api.whatsapp.com/send?phone=573234273817&amp;text=Hola, estuve visitando su sitio Web y quisiera obtener más información sobre sus servicios, citas y tratamientos."
        target="_blank" class="float">
        <img class="float" src="/img/whatsapp.png" alt="WhatsApp">
    </a>
    <%- include('components/footer'); -%>

</body>
</html>