<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Psicoterapia de Ivo Pabón, mejora tus relaciones personales, familiares y profesionales.">
    <meta name="keywords"
        content="terapia, psicoterapia, psicoterapeuta, ivo-pabon, consultorio psicológico, terapia individual, terapia de pareja, terapia de familia">
    <title><%- title %></title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/mainSass.css">
    <script async defer type="module" src="/index.js"></script>
</head>

<body>
    <div class="top__header">
        <div class="top__header__phone">
            <a class="top__header__link" href="tel:3116982290" target="_blank">3116982290</a>
        </div>
        <div class="top__header__email">
            <a class="top__header__link" href="mailto:ivopabon0@gmail.com" target="_blank">ivopabon0@gmail.com</a>
        </div>
    </div>
    <%- include('top-header'); -%>
    <%- include('header'); -%>
    <header class="header">
        <div class="main-header">
            <div class="main-header__logo-container">
                <a href="/inicio"><img class="main-header__logo-container__image" src="/img/logo.png"
                        alt="Logo Ivo Pabón"></a>
            </div>
            <div class="hamburger-container">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="main-header__nav-container">
            <nav class="main-header__nav column-distribution">
                <a class="header-link" href="/inicio">Inicio</a>
                <a class="header-link" href="/sobre-mi">Sobre mí</a>
                <a class="header-link" href="/servicios">Servicios</a>
                <a class="header-link" href="/blog">Blog</a>
                <a class="header-link" href="/contacto">Contacto</a>
            </nav>
        </div>
    </header>

    <main class="main">
        <%- body %>
    </main>
    <footer class="main-footer">
        <div class="main-footer__logo-container">
            <a href="/inicio"><img class="main-footer__logo-container__image" src="/img/logo.png" alt="Logo Ivo Pabón"></a>
            <p>Déjame un Email en <a class="footer__link" href="mailto:ivopabon0@gmail.com" target="_blank">ivopabon0@gmail.com</a> o sígueme en mis redes sociales:</p>
            <div class="widget-container">
                <a href="https://www.facebook.com/profile.php?id=100091779241736&mibextid=ZbWKwL" target="_blank"><img class="main-footer__icon"
                        src="/img/facebook-icon.png" alt="Icono de Facebook"></a>
                <a href="https://twitter.com/Ivopabon" target="_blank"><img class="main-footer__icon"
                        src="/img/twitter-icon.png" alt="Icono de Twitter"></a>
                <a href="https://www.linkedin.com/in/ivo-pab%C3%B3n-contreras-bb750b271/" target="_blank"><img class="main-footer__icon"
                        src="/img/linkedin-icon.png" alt=""></a>
                <a href="https://www.instagram.com/" target="_blank"><img class="main-footer__icon"
                        src="/img/ing.png" alt="Icono de Instagram"></a>
            </div>
        </div>
        <div class="phone-numbers">
            <div class="footer-phone">
                <a class="footer__link" href="tel:3116982290" target="_blank">Llama a la línea directa: 3116982290</a>
            </div>
            <div class="footer-phone">
                <a class="footer__link" href="https://api.whatsapp.com/send?phone=573234273817&amp;text=Hola, estuve visitando su sitio Web y quisiera obtener más información sobre sus servicios, citas y tratamientos." target="_blank">Comunícate al WhatsApp: 3234273817</a>
            </div>
        </div>
        <div class="legal">
            <p><a class="footer__link" href="https://github.com/darioernesto-roca" target="_blank">Desarrollado por
                    Dario Ernesto Roca 2023</a> | Todos los derechos Reservados</p>
        </div>
    </footer>
    <a href="https://api.whatsapp.com/send?phone=573234273817&amp;text=Hola, estuve visitando su sitio Web y quisiera obtener más información sobre sus servicios, citas y tratamientos."
        target="_blank" class="float">
        <img class="float" src="/img/whatsapp.png" alt="WhatsApp">
    </a>
    <%- include('footer'); -%>
</body>
</html>