<h1>I come from Shop</h1>
<%- include('components/feature-section'); -%>
<%- include('components/feature-products'); -%>
<%- include('components/banner'); -%>
<%- include('components/new-products'); -%>
<%- include('components/sm-banner'); -%>