<section class="prodetails section-p1">
    <div class="single-pro-image">
        <img src="<%= product.image1 %>" alt="<%= product.title %> 1" id="main-img" class="main-img">
        <div class="small-img-group">
            <div class="small-img-col">
                <img src="<%= product.image1 %>" alt="<%= product.title %> 1" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="<%= product.image2 %>" alt="<%= product.title %> 2" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="<%= product.image3 %>" alt="<%= product.title %> 3" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="<%= product.image4 %>" alt="<%= product.title %> 4" class="small-img">
            </div>
        </div>
    </div>
    <div class="single-pro-details">
        <h6>Once Once | <%= product.category %></h6>
        <h4><%= product.title %></h4>
        <h2>COP $<%= product.price %></h2>
        <select>
            <option>Selecciona la talla</option>
            <option>XL</option>
            <option>L</option>
            <option>M</option>
            <option>S</option>
        </select>
        <input type="number" value="1">
        <button class="normal" id="addToCartBtn" data-title="<%= product.title %>" data-price="<%= product.price %>" data-image="<%= product.image1 %>">Agregar Al Carrito</button>
        <h4>Detalles del Producto</h4>
        <p><%= product.shortdescription %></p>
        <p><%= product.longdescription %></p>
        <div class="single-pro-links">
            <a onclick="window.location.href= document.referrer">Seguir Comprando</a>
            <a href="/inicio">Ir al Carrito</a>
        </div>
    </div>
</section>
<section class="feature-products section-p1">
    <h2>Productos destacados</h2>
    <p>Colección Once Once - Valle Kids. Diseños modernos y exclusivos</p>
        <div class="product-container">
            <div class="product">
                <img src="/img/products/news-release/new1A.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/news-release/new2A.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/news-release/new3A.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
            <div class="product">
                <img src="/img/products/news-release/new4A.png" alt="pro1">
                <div class="description">
                    <span>Once Once</span>
                    <h5>Traje para niña blanco</h5>
                    <h4>COP $180,000</h4>
                </div>
                <a href="#"><img src="/img/assets/cart-icon.svg" alt="cart-icon" class="cart-icon"></a>
            </div>
        </div>
</section>

<script type="module" src="/sproduct.js"></script>